{% extends "base.html" %}
{% load static %}
{% block contenido %}
<section>
    <div class="container">
        <h1>Acerca de nosotros</h1>
        <p>Somos un grupo de estudiantes del curso Informatorio apasionados por la ciberseguridad. A través de esta página, buscamos compartir conocimientos, novedades y herramientas sobre la protección de datos y sistemas en el mundo digital. Nuestro objetivo es ayudar a las personas a entender las amenazas cibernéticas y cómo protegerse de ellas.

            Para desarrollar esta plataforma, utilizamos tecnologías como Python y el framework Django, que nos permiten crear un espacio seguro y dinámico donde exploramos temas clave en ciberseguridad, desde amenazas emergentes hasta mejores prácticas para proteger tu privacidad en línea.</p>

        
        </div>
    </div>
</section>
{% endblock %}
